<div class="container">
  <div class="container--header">
    <h1>Compartilhe com um mundo o que você pensa</h1>
    <p>Escreva um post</p>
  </div>
  <div class="container--body">
    <div class="body--center body__invert">
      <div class="body--center--cards">
        <form
          action=""
          class="createForm"
          (ngSubmit)="submit()"
          [formGroup]="formPost"
          #formDir="ngForm"
        >
          <h4 class="form-title">Criação de post</h4>

          <input type="text" name="Title" formControlName="Title" required class="form-create-input"  placeholder="  Dê um titulo"/>
          <div
            *ngIf="Title.invalid && formDir.submitted"
            class="validation-error"
          >
            <p *ngIf="Title.errors?.['required']">Título obrigatório.</p>
          </div>

          <textarea  name="Body" formControlName="Body" required class="form-create-textarea" placeholder=" Diga o que esta pensando..." ></textarea>

          <div
            *ngIf="Body.invalid && formDir.submitted"
            class="validation-error"
          >
            <p *ngIf="Body.errors?.['required']">Corpo do texto obrigatório.</p>
            <p *ngIf="Body.errors?.['maxlength']">so é permitido até 500 caracteres.</p>
          </div>

          <button type="submit" name="Criar" class="form-create-btn">Criar</button>
        </form>
      </div>
    </div>

    <div class="body--sideBar body__invert">
      <div class="sideBar">
        <span class="sideBar--categorie">Categorias</span>

        <ul>
          <li>Lorem ipsum dolor</li>
          <li>Lorem ipsum dolor</li>
          <li>Lorem ipsum dolor</li>
          <li>Lorem ipsum dolor</li>
          <div class="row-hidden">_________________________________</div>
        </ul>
        <div class="sideBar-btn">
          <app-button
            type=""
            name="Home"
            (click)="navigateToHome()"
          ></app-button>
        </div>
        <app-input-search
          class="input-search"
          [placeholder]="'Pesquisar por...'"
          [title]="'Procurando alguma notícia?'"
        ></app-input-search>
      </div>
    </div>
  </div>
</div>
